# Data Preparation for Automated Resume Screening

In these file we have data in pdf form we have 2500 pdf of diffeternt -different types of resume oe each category we have extract text from pdf and label pdf with its category which label in folder name

In [3]:
import os
import fitz
import pandas as pd

In [4]:
def extract_text_from_pdf(pdf_path):
    """extrat text from pdf"""
    text=""
    try:
        with fitz.open(pdf_path) as doc:
            for page in doc:
                text += page.get_text()
    except Exception as e:
        print(f"Error reading {pdf_path}: {e}")
    return text

In [10]:
data_dir="../data/raw/data"
resume_data=[]
for label in os.listdir(data_dir):
    label_path = os.path.join(data_dir, label)
    
    if os.path.isdir(label_path):
        for file in os.listdir(label_path):
            if file.endswith(".pdf"):
                pdf_path = os.path.join(label_path, file)
                text = extract_text_from_pdf(pdf_path)
                resume_data.append({
                    "resume_text": text,
                    "job_role": label
                })
df = pd.DataFrame(resume_data)

In [11]:
df

                                            resume_text    job_role
0     ACCOUNTANT\nSummary\nFinancial Accountant spec...  ACCOUNTANT
1     STAFF ACCOUNTANT\nSummary\nHighly analytical a...  ACCOUNTANT
2     ACCOUNTANT\nProfessional Summary\nTo obtain a ...  ACCOUNTANT
3     SENIOR ACCOUNTANT\nExperience\nCompany Name Ju...  ACCOUNTANT
4     SENIOR ACCOUNTANT\nProfessional Summary\nSenio...  ACCOUNTANT
...                                                 ...         ...
2479  READING TEACHER\nSummary\nI am a highly motiva...     TEACHER
2480  HISTORY TEACHER\nProfessional Summary\nTo be e...     TEACHER
2481  TEACHER\nSummary\nHighly ethical, dependable, ...     TEACHER
2482  TEACHER\nSummary\nTalented early education pro...     TEACHER
2483  Kpandipou Koffi\nSummary\nCompassionate teachi...     TEACHER

[2484 rows x 2 columns]

In [14]:
len(df["resume_text"][0])

24159

In [15]:
df.to_csv("../data/processed/resume_data.csv", index=False)

We have save these dataframe for further use